@charset "utf-8";
/* CSS Document */

.milestone-fig{
	position: relative;
}
.milestone-rate{
	position: absolute;
	height: 25px;
	line-height: 25px;
    top: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 10px;
}
/*
.recent-request{
	height: 445px;
	overflow: auto;
}
*/
.notifications ul li{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
}
.notifications ul li:first-child{
	padding-top: 0px;
}
.notifications ul li:last-child{
	padding-bottom: 0px;
	border-bottom: none;
}