@charset "utf-8";
/* CSS Document */

.latest-job-client-info li{
	margin-right: 30px;
	display: inline-block;
}
.requested-jobs-wrap{
	margin-top: 15px;
}
.job-filter{
	height: 38px;
}

@media(max-width: 450px){
	.time-post{
		display: none !important;
	}
}

/**** JOB DETAIL BEGINS ****/

.loc-map{
	background: url(../img/map.jpg) no-repeat center center;
}

/*
@media(max-width: 1199px){
	.loc-map{
		height: 300px;
	}	
}
*/

/**** JOB DETAIL ENDS ****?